<form>
  <p>
  You are logged in as <a href="mailto:<%= user.email %>"><%= user.email %></a>,
  verified via <a href="https://login.persona.org" target="_new">Mozilla Persona</a>.
  Your email address will never be displayed on the site or shared with third
  parties. It will only be used for identification and, optionally, for a gravatar
  image.
  </p>

  <% if user.username_set? %>
    <p>
    You have chosen <span class="username"><%= user.username %></span> as
    your username. This is what will be displayed as the source of the comments
    you make.
    </p>
  <% else %>
    <p>
      <label for="settings_username">Username:
        <input type="text" id="settings_username" name="username" />
      </label>
    </p>
    <span class="help-block">
      <p>
      Enter a username, or you will be known as
      <em><%= user.anonymous_username %></em>. Once set, the username is final.
      </p>
    <span>
  <% end %>

  <div class="gravatar-row">
    <img class="gravatar-img img-polaroid" src="<%= user.gravatar_url %>" />
    <div class="gravatar-text">
      <label class="checkbox">
        <input type="checkbox" name="use_gravatar" <%= user.use_gravatar ? 'checked="checked"' : '' %>>
        Use this gravatar as your profile picture. It will be displayed
        publicly alongside your username when you post comments on this site.
        <br/>
        <a target="_new" href="https://gravatar.com/emails">Setup gravatar images</a>.
      </label>
    </div>
  </div>
</form>
