<div class="row-fluid">
<div class="span12">

	<header>
		<!-- Since browsers still won't handle letter-spacing correctly. SPAN! |(-.-)/ -->
		<smaller class="ornament">Category: <a href="#">Riddl<span>e</span></a></smaller>
	    <h1><%= @puzzle.title[0, @puzzle.title.length-1] %><span><%= @puzzle.title[-1, 1] %></span></h1>
	    <h1 style="line-height: 0; margin-bottom: 0.6em; color: white;"><span>.</span></h1>
	    <small>A somewhat eas<span>y</span></small><br />
	    <small>monkey riddl<span>e</span></small><br />
	    <smaller>Author: <%= @puzzle.author[0, @puzzle.author.length-1] %><span><%= @puzzle.author[-1, 1] %></span></a></smaller>
	</header>

	<article>
	    <%= @puzzle.content %>
	    <% if not @puzzle.related.empty? or not @puzzle.categories.empty? %>
	    <hr />
	    <% end %>
	    <!-- do something about this :) -->
		<% if not @puzzle.categories.empty? %>
			<p class="categories">
			Categories:
			<%=
				@puzzle.categories.map {|c| "<a href=\"#{path_to_category c}\">#{c}</a>"}.join
			%>
			</p>
		<% end %>

		<% if not @puzzle.related.empty? %>
			<p class="categories">
			Related puzzles:
			<%=
				@puzzle.related.map {|p| "<a href=\"#{path_to_puzzle p}\">#{p.title}</a>"}.join
			%>
			</p>
		<% end %>

		<div class="high-res-nav">
			<span class="arrow-left">
				<a href="<%= @prev_puzzle_url %>"><i class="icon-caret-left"></i></a>
			</span>
			<span class="arrow-right">
				<a href="<%= @next_puzzle_url %>"><i class="icon-caret-right"></i></a>
			</span>
		</div>
	</article>

	<div class="low-res-nav">
		<% if not @puzzle.answer.nil? %>
			<p class="answer-link">
				<a href="<%= path_to_puzzle_answer @puzzle %>"></a>
			</p>
		<% else %>
			<p class="inactive-answer-link">
				<a href="#"></a>
			</p>
		<% end %>
		<span class="arrow-left">
			<a href="<%= @prev_puzzle_url %>"><i class="icon-caret-left"></i></a>
		</span>
		<span class="arrow-right">
			<a href="<%= @next_puzzle_url %>"><i class="icon-caret-right"></i></a>
		</span>
	</div>

</div>
</div>
