<header>
	<!-- Since browsers still won't handle letter-spacing correctly. SPAN! |(-.-)/ -->
    <!-- Ornaments will be replaced with images -->
	<div class="ornament">z<span>y</span></div>
	<smaller>Category: <a href="#">Riddl<span>e</span></a></smaller>
    <h1><%= @puzzle.title[0, @puzzle.title.length-1] %><span><%= @puzzle.title[-1, 1] %></span></h1>
    <h1 style="line-height: 0; margin-bottom: 0.6em; color: white;"><span>.</span></h1>
    <small>A somewhat eas<span>y</span></small>
    <small>monkey riddl<span>e</span></small>
    <smaller>Author: <a href="#">Unknow<span>n</span></a></smaller>
</header>

<article>
    <%= @puzzle.content %>
		<span class="arrow-left">
			<a href="<%= @prev_puzzle_url %>"><i class="icon-caret-left"></i></a>
		</span>
		<span class="arrow-right">
			<a href="<%= @next_puzzle_url %>"><i class="icon-caret-right"></i></a>
		</span>

		<!-- do something about this :) -->
		<% if not @puzzle.tags.empty? %>
			<p>
			Tags:
			<ul>
			<% @puzzle.tags.each do |tag| %>
				<li><a href="<%= path_to_tag tag %>"><%= tag %></a></li>
			<% end %>
			</ul>
			</p>
		<% end %>

		<% if not @puzzle.related.empty? %>
			<p>
			Related puzzles:
			<ul>
			<% @puzzle.related.each do |p| %>
				<li><a href="<%= path_to_puzzle p %>"><%= p.title %></a></li>
			<% end %>
			</ul>
			</p>
		<% end %>



</article>
<!-- Temporary, SVG to come -->
<% if not @puzzle.answer.nil? %>
<p class="answer">
    <a href="<%= path_to_puzzle_answer @puzzle %>"><i class="icon-key"></i></a>
</p>
<% end %>
