<div class="row-fluid">
<div class="span12">
<header class="title">

  <!-- Since browsers still won't handle letter-spacing correctly. SPAN! |(-.-)/ -->
  <!--<smaller class="ornament">Category: <a href="#">Monkey har<span>d</span></a></smaller>-->
  <h1 class="super_title1">Monkey</h1>
  <h1 class="super_title2">puzzles</h1>
  <!--<smaller>Puzzles not even a monkey could solv<span>e</span></smaller>-->
</header>
<section>

<p>Here there be puzzles. Choose a puzzle by
<a href="<%= url_for(:categories, :index) %>"
  class="icon-pre-link"><i class="icon-list-ul"></i>category</a>, browse through
them <a href="<%= url_for(:puzzles, :index) %>" class="icon-pre-link"><i
      class="icon-list-ul"></i>all</a>, or start right now with a <a href="<%=
        url_for(:random) %>" class="icon-pre-link"><i
          class="icon-random"></i>random puzzle</a>. Enjoy!</p>

<p>Beta disclaimer: Beware, this is a work in progress. Urls and links have not
yet been finalized. External references are not recommended. Occasional hiccups
are to be expected.</p>


<h2>Top <span class="colored-number"><%= @top_liked.length %></span> puzzles</h2>
<%= partial :"puzzles/list", :locals => {:puzzles => @top_liked} %>

<h2><span class="colored-number"><%= @most_commented.length %></span> most commented puzzles</h2>
<%= partial :"puzzles/list", :locals => {:puzzles => @most_commented} %>

<p class="categories">
Categories:
<%=
  @categories.map {|c| "<a href=\"#{url_for(:categories, :show, :slug => c.slug)}\">#{c.title} (#{c.num})</a>"}.join
%>
</p>

</section>

</div>
</div>
